@import "reset.css";

:root {
    --page-padding: 120px
}

hr {
    background-color: rgb(229, 229, 229);
    border: 0px;
    color: rgb(229, 229, 229);
    height: 1px;
    margin: 20px 0px;
    width: 100%;
}

html {
    font-size: 10px;
}

body {
    /* border: 1px solid red; */
}

.main-header, .main-content, .footer {
    padding: 0 var(--page-padding);
}

.main-header {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.06);
}